*
{
    padding: 0;
    margin: 0;
}

body > *
{
    position: absolute;
    color: #2c3e50;
    font-family: monospace;
    font-size: 1.3em;
}

span
{
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}